# Виртуальные окружения
venv/
.env
.env.*
.env.prod.example

# Python кэш
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/

# Логи
logs/*.log

# SQLite базы
*.db
*.sqlite3

# Тестовые артефакты
.pytest_cache/
.coverage
htmlcov/

# Системное
.DS_Store
Thumbs.db